.mbtiLayout{
  width: 100vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #eee;
  height: calc(var(--vh,1vh)*100);
}

.startPageLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff385;
  width: 100%;
  max-width: 900px;
  height: 100%;
  color: #69594d;
}
.startLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}

.startLogo div:nth-child(1){
  background-color: #69594d;
  color:#fffffe;
  width: 530px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  box-shadow: 0 11px 3px rgba(0, 0, 0, 0.1);
}

.startLogo div:nth-child(2){
  margin-top:-15px;
}

.startButton{
  font-size: 35px;
  font-weight: 600;
  margin-top: 5px;
  background-color: #dfdfdf;
  border: none; /* 테두리 제거 */
  border-radius: 10px; /* 모서리 둥글게 */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* 호버 효과 설정 */
}

.startButton:hover {
  background-color: #f8afaf; /* 호버 시 배경색 변경 */
  color: #fff; /* 호버 시 텍스트 색상 변경 */
}

.questionLayout{
  display: flex;
  flex-direction: column;
  background-color: #bacee0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mbtiTitle{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: 15px;
  box-sizing: border-box;
  font-weight: 700;
}

.mbtiTitle div:nth-child(1){
  display: flex;
  flex: 1;
}
.questionList{
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.questionList::-wedkit-scrollbar{
  display: none;
}

.questionItemLayout{
  display: flex;
  flex:1;
  margin:10px 15px 5px 15px;
}
.answerItemLayout{
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileImg{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: #a1b6e9;
  border-radius: 15px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.profileImg div:nth-child(1){
  background-color: #cbd6f2;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.profileImg div:nth-child(2){
  background-color: #cbd6f2;
  width: 16px;
  height: 8px;
  border-radius: 8px 8px 0px 0px;
  margin-top: 2px;
}

.chatListLayout{
  display: flex;
  flex-direction: column;

}
.chatBox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 60vw;
  margin: 3px 0px 12px 0px;
}

.chatBox div:nth-child(1){
  color: #fff;
  font-size: 12px;
  margin-top:8px;
}

.chatBox div:nth-child(2){
  padding: 7px 10px 7px 10px;
  background-color: #fff;
  margin-left: -4px;
  border-radius: 10px;
  text-align: left;
}

.aChatBox{
  display: flex;
  width: 100%;
  color: #969696;
  font-size:22px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.aChatBox div:nth-child(1){
  display: flex;
  flex:1;
  padding:10px;
  box-sizing: border-box;
}

.aChatBox div:nth-child(2){
  padding: 10px;
}

.answerBox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 0px #ededed;
  border:1px solid #ededed;
  margin:0px 20px 15px 20px;
  border-radius: 10px;

}

